In [7]:
import pandas as pd

# Define the file paths
df1 = pd.read_csv(file1, encoding='latin1')
df2 = pd.read_csv(file2, encoding='latin1')
df3 = pd.read_csv(file3, encoding='latin1')

# Read the CSV files


# Concatenate the DataFrames
merged_df = pd.concat([df1, df2, df3])

# Save the merged DataFrame to a new CSV file
merged_df.to_csv('merged.csv', index=False)

print("Files merged successfully.")

C:\Users\kkibet\AppData\Local\Temp\ipykernel_3808\752665174.py:4: DtypeWarning: Columns (6,7,8,10,15,16,17,18,19,21,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(file1, encoding='latin1')
C:\Users\kkibet\AppData\Local\Temp\ipykernel_3808\752665174.py:5: DtypeWarning: Columns (6,7,8,9,10,15,16,17,18,19,21,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv(file2, encoding='latin1')
C:\Users\kkibet\AppData\Local\Temp\ipykernel_3808\752665174.py:6: DtypeWarning: Columns (6,7,8,10,14,15,16,17,18,19,21,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv(file3, encoding='latin1')

Files merged successfully.

In [11]:


# Define the file path
file1 = 'merged.csv'

# Read the CSV file
df1 = pd.read_csv(file1, encoding='latin1')

# Specify the column you want to count
column_name = 'ASSET_ID'

# Count the number of non-null records in the specified column
record_count = df1[column_name].count()





print(f"The number of records in the column '{column_name}' is {record_count}.")

C:\Users\kkibet\AppData\Local\Temp\ipykernel_3808\2272963877.py:5: DtypeWarning: Columns (6,7,8,9,10,14,15,16,17,18,19,21,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(file1, encoding='latin1')

The number of records in the column 'ASSET_ID' is 2917426.

In [22]:
file_path = 'merged.csv'

df = pd.read_csv(file_path, encoding='latin1')

# Specify the categories of interest
categories = [
    '4000-45000-10', '4000-44000-10', '4000-43000-10', '4000-42000-10', '4000-41000-10',
]

# Group by CATEGORY and count the non-null entries in ASSET_ID
category_counts = df.groupby('CATEGORY')['ASSET_ID'].count()

# Filter to include only the specified categories
category_counts_filtered = category_counts[category_counts.index.isin(categories)]

print(category_counts_filtered)

C:\Users\kkibet\AppData\Local\Temp\ipykernel_3808\3350062738.py:3: DtypeWarning: Columns (6,7,8,9,10,14,15,16,17,18,19,21,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, encoding='latin1')

CATEGORY
4000-41000-10     2632
4000-42000-10       65
4000-43000-10    18905
4000-44000-10    23263
4000-45000-10    11039
Name: ASSET_ID, dtype: int64

In [30]:
filtered_df = df[df['NBV'] >= 1]

# Save the filtered DataFrame to a new CSV file (optional)
filtered_df.to_csv('filtered.csv', index=False)

In [45]:

file_path2 = 'filtered.csv'

df2 = pd.read_csv(file_path2, encoding='latin1')

# Specify the categories of interest
categories = [
    '4000-45000-10', '4000-44000-10', '4000-43000-10', '4000-42000-10', '4000-41000-10',
]

# Group by CATEGORY and count the non-null entries in ASSET_ID
Acategory_counts = df2.groupby('CATEGORY')['ASSET_ID'].count()

# Filter to include only the specified categories
Acategory_counts_filtered = Acategory_counts[Acategory_counts.index.isin(categories)]

print(Acategory_counts_filtered)

C:\Users\kkibet\AppData\Local\Temp\ipykernel_3808\3285378254.py:3: DtypeWarning: Columns (6,10,15,16,17,18,19,21,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv(file_path2, encoding='latin1')

CATEGORY
4000-43000-10    16
4000-44000-10    94
Name: ASSET_ID, dtype: int64

In [55]:
df2.describe()

,ASSET_ID,QUANTITY,ACCEPTANCE_NUMBER,CIP_EU,VALUE,VENDOR_NUMBER,COST_ACCOUNT,ACCUM_DEPRN_ACCOUNT,CIP_COST_ACCOUNT,EXPENSE_COST_CENTER,EXPENSE_ACCOUNT,LIFE,COST,NBV,DEPRN_AMOUNT,YTD_DEPRN,DEPRN_RESERVE,SALVAGE_VALUE,nbv
count,2.917426e+06,2.917426e+06,381542.000000,0.0,0.0,2.917376e+06,2.917426e+06,2.917426e+06,2.913341e+06,2.917426e+06,2.917426e+06,2.917426e+06,2.917426e+06,9.977970e+05,2.917426e+06,2.917426e+06,2.917426e+06,2.917426e+06,1.919629e+06
mean,2.243595e+06,1.784037e+01,7979.158473,NaN,NaN,2.777077e+03,1.518058e+05,1.617966e+05,1.816645e+05,4.997700e+03,6.510227e+05,9.962233e+01,7.077992e+03,2.441770e+03,3.745962e+01,1.883864e+02,4.967540e+03,1.996294e-01,1.938238e+03
std,1.165992e+06,7.130663e+03,3820.990239,NaN,NaN,4.523590e+03,1.630126e+03,1.476279e+03,6.866732e+02,3.363897e+02,3.595825e+01,3.743709e+01,6.041395e+05,6.303629e+05,3.383432e+03,1.692412e+04,2.455205e+05,3.997218e-01,5.324277e+04
min,1.002040e+05,1.000000e+00,14.000000,NaN,NaN,2.000000e+00,1.510110e+05,1.611110e+05,1.810120e+05,0.000000e+00,6.510100e+05,1.000000e+00,-2.555000e+03,-4.500000e-01,0.000000e+00,-3.344127e+05,-2.555000e+03,0.000000e+00,0.000000e+00
25%,1.392930e+06,1.000000e+00,5277.000000,NaN,NaN,1.380000e+02,1.515100e+05,1.615100e+05,1.815100e+05,5.001000e+03,6.510200e+05,6.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.271982e+06,1.000000e+00,7216.000000,NaN,NaN,1.380000e+02,1.515100e+05,1.615100e+05,1.815100e+05,5.001000e+03,6.510200e+05,1.200000e+02,7.232000e+01,0.000000e+00,0.000000e+00,0.000000e+00,5.022000e+01,0.000000e+00,0.000000e+00
75%,3.295892e+06,1.000000e+00,10486.000000,NaN,NaN,5.022000e+03,1.515100e+05,1.615100e+05,1.815100e+05,5.001000e+03,6.510200e+05,1.200000e+02,1.522750e+03,1.735300e+02,5.730000e+00,2.915000e+01,1.046580e+03,0.000000e+00,1.928100e+02
max,4.154729e+06,8.000000e+06,16480.000000,NaN,NaN,1.526700e+04,1.903300e+05,6.510100e+05,1.865100e+05,6.631000e+03,6.521360e+05,7.200000e+02,7.057154e+08,4.038260e+08,3.920641e+06,1.960320e+07,3.018894e+08,1.000000e+00,2.633333e+07

In [57]:
df.describe()

,ASSET_ID,QUANTITY,ACCEPTANCE_NUMBER,CIP_EU,VALUE,VENDOR_NUMBER,COST_ACCOUNT,ACCUM_DEPRN_ACCOUNT,CIP_COST_ACCOUNT,EXPENSE_COST_CENTER,EXPENSE_ACCOUNT,LIFE,COST,NBV,DEPRN_AMOUNT,YTD_DEPRN,DEPRN_RESERVE,SALVAGE_VALUE,nbv
count,2.917426e+06,2.917426e+06,381542.000000,0.0,0.0,2.917376e+06,2.917426e+06,2.917426e+06,2.913341e+06,2.917426e+06,2.917426e+06,2.917426e+06,2.917426e+06,9.977970e+05,2.917426e+06,2.917426e+06,2.917426e+06,2.917426e+06,1.919629e+06
mean,2.243595e+06,1.784037e+01,7979.158473,NaN,NaN,2.777077e+03,1.518058e+05,1.617966e+05,1.816645e+05,4.997700e+03,6.510227e+05,9.962233e+01,7.077992e+03,2.441770e+03,3.745962e+01,1.883864e+02,4.967540e+03,1.996294e-01,1.938238e+03
std,1.165992e+06,7.130663e+03,3820.990239,NaN,NaN,4.523590e+03,1.630126e+03,1.476279e+03,6.866732e+02,3.363897e+02,3.595825e+01,3.743709e+01,6.041395e+05,6.303629e+05,3.383432e+03,1.692412e+04,2.455205e+05,3.997218e-01,5.324277e+04
min,1.002040e+05,1.000000e+00,14.000000,NaN,NaN,2.000000e+00,1.510110e+05,1.611110e+05,1.810120e+05,0.000000e+00,6.510100e+05,1.000000e+00,-2.555000e+03,-4.500000e-01,0.000000e+00,-3.344127e+05,-2.555000e+03,0.000000e+00,0.000000e+00
25%,1.392930e+06,1.000000e+00,5277.000000,NaN,NaN,1.380000e+02,1.515100e+05,1.615100e+05,1.815100e+05,5.001000e+03,6.510200e+05,6.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.271982e+06,1.000000e+00,7216.000000,NaN,NaN,1.380000e+02,1.515100e+05,1.615100e+05,1.815100e+05,5.001000e+03,6.510200e+05,1.200000e+02,7.232000e+01,0.000000e+00,0.000000e+00,0.000000e+00,5.022000e+01,0.000000e+00,0.000000e+00
75%,3.295892e+06,1.000000e+00,10486.000000,NaN,NaN,5.022000e+03,1.515100e+05,1.615100e+05,1.815100e+05,5.001000e+03,6.510200e+05,1.200000e+02,1.522750e+03,1.735300e+02,5.730000e+00,2.915000e+01,1.046580e+03,0.000000e+00,1.928100e+02
max,4.154729e+06,8.000000e+06,16480.000000,NaN,NaN,1.526700e+04,1.903300e+05,6.510100e+05,1.865100e+05,6.631000e+03,6.521360e+05,7.200000e+02,7.057154e+08,4.038260e+08,3.920641e+06,1.960320e+07,3.018894e+08,1.000000e+00,2.633333e+07